/*h1 {
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-size: 40px;
}

h2 {
	font-size: 40px;
	font-weight: 600;
}*/

 p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 900;
}
